/* Fix for inverted button having invisible loading */
.button.is-inverted.is-loading:hover::after, .button.is-inverted.is-loading:focus::after, .button.is-inverted.is-loading:active::after, .button.is-inverted.is-loading:visited::after {
    border-color: transparent transparent grey grey !important;
}

#laptopImage, #laptopModalImage{
    border-radius: 0.5em;
    height: 156px;
    width: auto;
    object-fit: cover;
}

#featureList{
    margin-top: 0;
}

#laptopName{
    margin-top: 0;
    margin-bottom: .2em;
}
#laptopDescription{
    margin: .3em 0;
}
#loanContainer > span{
    width: 100%;
}
.panel-spacer{
    height: 36px;
}
.center-media{
    display: flex;
    align-items: center;
}


/* Fadein effect for modal */
#loanModal{
    -webkit-animation: fadein .3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .3s; /* Firefox < 16 */
    -ms-animation: fadein .3s; /* Internet Explorer */
    -o-animation: fadein .3s; /* Opera < 12.1 */
    animation: fadein .3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.rotate{
    animation: rotate .5s;
}
@keyframes rotate {
    from { transform: rotate(0); }
    to   { transform: rotate(360deg); }
}
